@model GitRepoTask.Models.GithubProfile

@if (Model != null)
{
    <head>
        <link rel="stylesheet" href="~/Content/GithubProfile.css" />
    </head>
    <div class="profile-container">
        <div class="card">
            <div class="card-content">
                <img src="@Model.AvatarUrl" class="profile-img" alt="Profile Picture" />
                <div class="profile-info">
                    <h3>@Model.Username @(@Model.Name == null ? "" : "(" + Model.Name + ")")</h3>
                    <p><strong>Location:</strong> @(Model.Location ?? "No location found!")</p>

                    @if (Model.Repos == null || !Model.Repos.Any())
                    {
                        <div>
                            <p>This user doesn't have any public repositories.</p>
                        </div>
                    }

                    @if (Model.Repos != null && Model.Repos.Any())
                    {
                        <h4>Repositories:</h4>
                        <ul>
                            @foreach (var repo in Model.Repos)
                            {
                                <li>
                                    <p>@repo.Name</p>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
            @if (Model.Repos == null || Model.Repos.Any())
            {

                <button class="toggle-btn" onclick="slideToggleById('#repoGridContainer')">Show more info</button>
            }
        </div>

        @if (Model.Repos != null && Model.Repos.Any())
        {
            <div id="repoGridContainer" class="repo-grid-container">
                <div class="repo-grid">
                    @foreach (var repo in Model.Repos)
                    {
                        <div class="repo-card">
                            <a href="@repo.Html_url" target="_blank"><h4>@repo.Name</h4></a>
                            <p>@(string.IsNullOrWhiteSpace(repo.Description) ? "No description" : repo.Description)</p>
                            <p>⭐ @repo.Stargazers_Count</p>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}